#clock {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 126px;
    width: 680px;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
