---
---

@import "variables";

.image-wrapper {
  text-align: center;

  img {
    margin-left: auto;
    margin-right: auto;
  }
  .image-caption {
    color: $grey-color;
    margin-top: $spacing-unit / 3;
  }
}
