<footer>
  <div class="footer-bottom pad-top40">
    <div class="container">
      <p>  © 2017-2025 Millard Technical Services Ltd</p>
      <p><a href="/atom.xml">RSS Feed</a> - <a
        href="https://github.com/neilmillard" target="_blank">Github</a> - <a
        href="https://twitter.com/neil_millard" target="_blank">Twitter</a> - <a
        href="https://www.helpfulmoney.site" target="_blank">Finance Tools</a> - <a
        href="https://www.facebook.com/neil.millard/" target="_blank">Facebook</a> - <a
        href="https://www.youtube.com/channel/UCAaoh3jk1qtvD3ALPp48_8w" target="_blank">YouTube channel</a> - <a
        href="https://www.techanswers.club/" target="_blank">Tech Answers Club</a> - <a
        href="/clock/index.html">Clock</a>
      </p>
    </div>
  </div>
</footer>
