<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url contains link.url %}
                {% assign current = 'active' %}
                {% endif %}
                {% if link.external_url %}
                <li><a href="{{ link.external_url }}" target="_blank">{{ link.title }}</a> </li>
                {% else %}
                <li class="{{ current }}"><a href="{{site.url}}{{site.baseurl}}{{ link.url }}" data-proofer-ignore>{{ link.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/neilmillard"><i class="fa fa-github-alt"></i> Github</a></li>
                <li><a href="https://www.facebook.com/millardtechnicalservices/"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://twitter.com/MiteseGroup"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a class="navbar-brand" href="http://www.mitese.co.uk"><img class="logo" src="{{site.url}}/static/images/mitese.jpg" alt="Mitese Group"></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>