.nav>li>a>img.logo {
    max-width: 128px;
    display: inline-block!important;
}

body {
    padding-top: 60px;
    font-family: Roboto;
}

.pad-top40 {
    padding-top: 40px;
}

.li-block {
    display: block;
    padding-bottom: 10px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: text-bottom;
}

.social-share-buttons .button {
    margin-right: 6px;
    border: 0;
    line-height: 2;
    padding: 0 0.8rem;
    font-size: 90%;
}

.button {
    background-color: #141e30;
    border: 1px solid #141e30;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fafafa;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.3em 1em;
    white-space: normal;
    text-align: center;
    text-decoration: none;
    margin: 1.5rem 0 0rem 0;
}

.button-facebook {
    background: #3B5997;
}

.button-twitter {
    background: #00aced;
}

.button-linkedin {
    background: #0074A1;
}

.social-share-buttons .icon {
    width: 1.1rem;
    height: 1.4rem;
}