.nav>li>a>img.logo {
    max-width: 128px;
    display: inline-block!important;
}

body {
    padding-top: 60px;
}

.pad-top40 {
    padding-top: 40px;
}

.li-block {
    display: block;
    padding-bottom: 10px;
}